test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/dist

# Test reports and coverage
/coverage
/coverage-*
/playwright-report
/coverage-reports
/monocart-report
/**/*.tsbuildinfo
/**/.nyc_output

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
